<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#">xmatic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/blog">Блог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/podcast">Подкаст</a>
            </li>
        </ul>
        <span class="navbar-text">
            <a class="aNoDecor" target="_blank" href="mailto:xxxxxmatic@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
            <a class="aNoDecor" target="_blank" href="https://twitter.com/xxmatic">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="aNoDecor" target="_blank" href="https://www.youtube.com/channel/UCgY-OX72cWO45A2a26fnEJQ">
                <i class="fab fa-youtube"></i>
            </a>
        </span>
    </div>
</nav>
