<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Мы создаем крутые веб приложения</h1>
            <p class="lead">и другие классные медиа проекты</p>
            <hr class="my-4">
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/images/wpOne.jpg" class="card-img-top" alt="Воллпапиры">
            <div class="card-body">
                <h5 class="card-title">Wallpaper pack One</h5>
                <p class="card-text">Наш оригинальный набор обоев для мобильных устройств.</p>
                <a href="https://yadi.sk/d/OTusuV4Hx1n3hw" target="_blank" class="btn btn-primary">Получить</a>
            </div>
        </div>
    </div>
</div>
