.jumbotron {
    background-color: transparent;
}

.aNoDecor {
    text-decoration: none;
    color: #6c757d;
    padding-right: 10px;
}

.aNoDecor:hover {
    text-decoration: none;
    color: black;
}
