<div class="container">
  <div class="row">
    <div class="col">
      <div class="card bg-dark text-white">
        <img src="assets/images/podcastBg.jpg" class="card-img" alt="cosmos">
        <div class="card-img-overlay">
          <h5 class="card-title">Xmatic Show</h5>
          <p class="card-text">Еженедельный подкаст на разные темы. Музыка, игры, хобби и просто разговоры за жизнь. Всегда рады вашим вопросам и комментариям!</p>
          <p class="card-text">Выходим на YouTube в прямом эфире. Аудио версии доступны на Anchor и во всех популярных подкаст программах.</p>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <iframe src="https://anchor.fm/xmatic/embed" width="100%" frameborder="0" scrolling="no"></iframe>
      <iframe src="https://anchor.fm/xmatic/embed/episodes/Xmatic-Show-2-e39kbh" width="100%" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col">
      <iframe src="https://anchor.fm/xmatic/embed/episodes/Xmatic-Show-3---e3c011" width="100%" frameborder="0" scrolling="no"></iframe>
      <iframe src="https://anchor.fm/xmatic/embed/episodes/Xmatic-Show------c----Warhammer-40000-e379h2" width="100%" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
