<div class="container wrapper">
    <router-outlet name="header"></router-outlet>
    <main>
        <router-outlet></router-outlet>
    </main>
    <router-outlet name="footer"></router-outlet>
</div>
