<div *ngFor="let postInfo of posts" class="media border p-3">
  <img src="./assets/images/80x80.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
  <div class="media-body">
    <h4>{{postInfo.author}}<small><i>Posted on {{postInfo.publishDate}}</i></small></h4>
    <p>{{postInfo.introduction}}</p>
  </div>
</div>
